workspace = '.'

barFileName = 'simple'

projects = [
	"project1"
]

files = [
	"project1/testFlow.msgflow",
	"messageSet/messageSet/messageSet.mset",
	"project1/testMap.map"
]

// Environment specific settings
environment {
	sit {
		testFlow {
			logDirectory = "C:/tmp/log.txt"
		}
	}
	stage {
		testFlow {
			logDirectory = "/var/mqha/log.txt"
		}
	}
	prod {
		testFlow {
			logDirectory = "/var/mqha/log.txt"
		}
	}
}

// Settings for deployment
deploy {
	sit = ["sit.broker"]
	stage = "stage.broker"
	prod = "prod.broker"
}